<div class="center hero-unit">
<h1>NowWhere Copenhagen</h1>
<p>

Click below to recieve daily handpicked events
</p>
</p>

<%= link_to "Subscribe", "#", class: "btn btn-large btn-primary" %>

</p> 
<div>